* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 7rem;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.active-link {
  color: #0db760;
  position: relative;
  font-size: 21px;
  font-family: serif;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

.inactive-link {
  font-size: 21px;
  font-family: serif;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
}

.inactive-link:hover {
  color: #0db760;
}

.active-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #0db760;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
}
.inactive-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.inactive-link:hover::after,
.active-link::after {
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
